@tailwind base; /* Preflight will be injected here */

h1 {
    @apply text-2xl;
    @apply text-primary;
    @apply my-8;
}

h2 {
    @apply text-xl;
    @apply text-secondary;
    @apply my-6;
}

h3 {
    @apply text-lg;
    @apply text-tertiary;
    @apply my-4;
}

h4 {
    @apply text-base;
    @apply text-quaternary;
    @apply my-2;
}

h5 {
    @apply text-sm;
    @apply text-quaternary;
    @apply my-2;
}

h6 {
    @apply text-xs;
    @apply text-quaternary;
    @apply my-2;
}

a {
    @apply text-primary;
    text-decoration: none;
}

ol {
    @apply list-decimal;
    @apply text-black;
    list-style-position: inside;
}

ul {
    @apply list-disc;
    @apply text-black;
    list-style-position: inside;
}


@tailwind components;

@tailwind utilities;

p {
    @apply my-6;
}

body {
    font-family: "Montserrat";
    @apply text-black;
}

blockquote {
    @apply bg-quaternary;
    @apply px-6;
    @apply text-primary;
    @apply border-l-4;
}
